<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ with .Title }}{{ . }} &#8212; {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="canonical" href="{{ .Permalink }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "assets/screen.css" | relURL }}">
    {{ with .Params.CustomCSS }} <link rel="stylesheet" href="{{ . | relURL }}"> {{ end }}

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <script>
      (() => {
        const mq = window.matchMedia('(prefers-color-scheme: dark)');
        const update = (m) => document.documentElement.setAttribute('data-bs-theme', m.matches ? 'dark' : 'light');
        mq.addEventListener('change', (e) => update(e));
        update(mq);
      })();
    </script>

  </head>
  <body class="d-flex flex-column h-100">
    {{ partial "navbar.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
