<footer class="footer py-3 bg-body-tertiary text-muted">
  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-3">
        <h6 class="text-body">Documentation</h6>
        <ul class="list-unstyled">
          <li><a href="{{ .Site.Params.DocsURL }}/license.html">License</a></li>
          <li><a href="{{ .Site.Params.DocsURL }}/faq.html">FAQ</a></li>
          <li><a href="{{ .Site.Params.DocsURL }}/download.html">Getting Started</a></li>
        </ul>
      </div>

      <div class="col-12 col-lg-3">
        <h6 class="text-body">Community</h6>
        <ul class="list-unstyled">
          <li><a href="https://gitlab.freedesktop.org/mesa">GitLab</a></li>
          <li><a href="{{ .Site.Params.DocsURL }}/lists.html">Mailing Lists</a></li>
          <li><a href="{{ .Site.Params.DocsURL }}/bugs.html">Report a Bug</a></li>
        </ul>
      </div>

      <div class="col-12 col-lg-3">
        <h6 class="text-body">More</h6>
        <ul class="list-unstyled">
          <li><a href="{{ relref . "/website.md" }}">About Mesa3D.org</a></li>
          <li><a href="{{ relref . "/developers.md" }}">Developers</a></li>
          <li><a href="https://dri.freedesktop.org/wiki/">Mesa / DRI Wiki</a></li>
        </ul>
      </div>

      <div class="col-12 col-lg-3">
        <p>Hosted by <a href="https://www.freedesktop.org/">Freedesktop.org</a></p>
        {{ if .Page.File }}
        <p><a href="{{ .Site.Params.GitLabURL }}/-/blob/main/content/{{ .Page.File.Path }}">Edit this page</a></p>
        {{ end }}
      </div>

    </div>
  </div>
</footer>
