<nav class="navbar navbar-expand-lg navbar-dark bg-dark-subtle" data-bs-theme="dark">
  <div class="container">
    <div class="d-flex flex-row">
      <a class="navbar-brand" href="{{ .Site.Home.Permalink }}">
        <img class="d-inline-block align-bottom" src="{{ "assets/logo.svg" | relURL }}" width="30" height="30" alt="">
        Mesa 3D
      </a>
    </div>

    <button id="navbar-button" class="d-none navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <script>
    document.getElementById('navbar-button').classList.remove('d-none');
    document.getElementById('navbarSupportedContent').classList.add('collapse');
  </script>
</nav>
