<div class="open-on-xl" id="apis-collapse">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 pt-3">
    {{ range $.Site.Data.apis }}
    <div class="card-group pb-4">
      <div class="card">
        <div class="card-header">
          {{ if and .logo_light .logo_dark }}
          <img class="img-fluid align-self-start light-only" style="height: 3.5rem" src="{{ printf "assets/apis/%s" .logo_light | relURL }}" alt="{{ .name }}">
          <img class="img-fluid align-self-start dark-only" style="height: 3.5rem" src="{{ printf "assets/apis/%s" .logo_dark | relURL }}" alt="{{ .name }}">
          {{ else if .logo }}
          <img class="img-fluid align-self-start" style="height: 3.5rem" src="{{ printf "assets/apis/%s" .logo | relURL }}" alt="{{ .name }}">
          {{ else }}
          <h3 class="m-0">{{ .name }}</h3>
          {{ end }}
        </div>

        <div class="card-body">
          {{ .body }}
        </div>
        <div class="card-footer">
          <a class="btn btn-secondary" href="{{ .url }}" role="button">Read more</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>

  <div class="alert alert-warning">
    <h5>Note</h5>
    <p>
      Even though Mesa provides implementations of the APIs listed above,
      not all combinations of drivers and APIs are formally conformant to
      their respective specifications.
    </p>
  </div>
</div>
